body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../src/assets/images/bg.png") no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: Comic Sans Ms;
}

.alert-info {
  background: rgb(61, 133, 198);
}

.arrow {
  clip-path: polygon(0 0, 85% 0%, 100% 50%, 85% 100%, 0 100%, 0% 50%);
  box-sizing: border-box;
}

.child-arrow {
  clip-path: polygon(1px 1px, 87% 0%, 99% 50%, 87% 99%, 0 99%, 0% 49%);
}

.custom-border {
  border-color: rgb(11, 83, 148);
}

.bg-gray {
  background: #f0f8ff;
}

.bg-blue {
  background: #0b5394;
}

.color-blue {
  color: rgb(11, 83, 148);
}

.color-blackblue {
  color: #0d2632;
}

.color-yellow {
  color: rgb(255, 217, 102);
}

/* Landing Page */
.landing {
  background: url("./assets/images/landing/bg.png") center;
  background-size: 100% auto;
}
.bg-blue-gradient {
  background: radial-gradient(
    circle,
    rgba(30, 101, 166, 1) 0%,
    rgba(3, 65, 121, 1) 100%
  );
}

.title-shadow {
  text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #034179, 0 0 30px #034179,
    0 0 40px #034179, 0 0 55px #034179, 0 0 75px #034179;
}

.feature-item-title {
  background: url("./assets/images/landing/feature/title.png") no-repeat center;
  background-size: contain;
  height: 110px;
}

.feature-item-content {
  background: url("./assets/images/landing/feature/content.png") no-repeat
    center;
  background-size: contain;
  height: 590px;
}

.tokenomics {
  background: url("../src/assets/images/landing/tokenomics/tokenomics.png")
    no-repeat center;
  background-size: contain;
  width: 100%;
  height: 845px;
}
@media only screen and (max-width: 600px) {
  .tokenomics {
    background: url("../src/assets/images/landing/tokenomics/tokenomics.png")
      no-repeat center;
    background-size: contain;
    width: 100%;
    height: 420px;
  }
}
.landing-home-item {
  background: rgb(255, 255, 255, 0.5);
}

.bg-blackblue {
  background: rgb(13, 11, 44);
}

.dev-mapcard{
  background: url("./assets/images/landing/map/bg.png") no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 1020px) {
  .dev-mapcard{
    background: url("./assets/images/landing/map/bg.png") no-repeat;
    background-size: contain;
  }
}

@media only screen and (max-width: 600px) {
  .dev-mapcard{
    background: url("./assets/images/landing/map/bg.png") no-repeat;
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 900px) {
  .dev-mapcard{
    background: url("./assets/images/landing/map/bg.png") no-repeat;
    background-size: 100% 100%;
  }
}
.road-mapcard {
  background: url("./assets/images/landing/roadmap/bg.png") no-repeat center;
  background-size: contain;
  /* width: 460px; */
  height: 700px;
}
@media only screen and (max-width: 600px) {
  .road-mapcard {
    background: url("./assets/images/landing/roadmap/bg.png") no-repeat center;
    background-size: 100% 100%;
    /* width: 460px; */
    height: 700px;
  }
}
.presale-button {
  background: linear-gradient(
    180deg,
    #060918 0%,
    #1d2848 100%,
    rgba(6, 29, 35, 0) 100%
  );
}

.presale-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.presale-tooltip .tooltiptext {
  visibility: hidden;
  width: 600px;
  background-color: #1ab2ff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  border-color: black;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.presale-tooltip:hover .tooltiptext {
  visibility: visible;
}
/* Landing Page */

footer {
  background-color: rgba(13, 90, 139, 0.8);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
