body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../src/assets/images/bg.png") no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: Comic Sans Ms;
}

.alert-info {
  background: rgb(61, 133, 198);
}

.arrow {
  clip-path: polygon(0 0, 85% 0%, 100% 50%, 85% 100%, 0 100%, 0% 50%);
  box-sizing: border-box;
}

.child-arrow {
  clip-path: polygon(1px 1px, 87% 0%, 99% 50%, 87% 99%, 0 99%, 0% 49%);
}

.custom-border {
  border-color: rgb(11, 83, 148);
}

.bg-gray {
  background: #f0f8ff;
}

.bg-blue {
  background: #0b5394;
}

.color-blue {
  color: rgb(11, 83, 148);
}

.color-blackblue {
  color: #0d2632;
}

.color-yellow {
  color: rgb(255, 217, 102);
}

.auto-margin{
  margin: 0 auto;
}
/* Landing Page */
    .landing {
      background: url("./assets/images/landing/bg.png") center;
      background-size: 100% auto;
    }
    .dianosor-layout{
      display: flex;
      flex-direction: row;
    }
    @media only screen and (min-width: 320px) {
      .dianosor-layout{
        display: flex;
        flex-direction: column;
      }
    }
    @media only screen and (min-width: 1024px) {
      .dianosor-layout{
        display: flex;
        flex-direction: row;
      }
    }
    .bg-blue-gradient {
      background: radial-gradient(
        circle,
        rgba(30, 101, 166, 1) 0%,
        rgba(3, 65, 121, 1) 100%
      );
    }

    .title-shadow {
      text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #034179, 0 0 30px #034179,
        0 0 40px #034179, 0 0 55px #034179, 0 0 75px #034179;
    }

    .feature-item-title {
      background: url("./assets/images/landing/feature/title.png") no-repeat center;
      background-size: contain;
      height: 110px;
    }

    .feature-item-content {
      background: url("./assets/images/landing/feature/content.png") no-repeat
        center;
      background-size: contain;
      height: 590px;
    }
    @media only screen and (min-width: 320px) {
      .feature-item-content {
        background: url("./assets/images/landing/feature/content.png") no-repeat
          center;
        background-size: contain;
        height: 490px;
      }
    }

    @media only screen and (min-width: 320px) {
      .tokenomics {
        background: url("../src/assets/images/landing/tokenomics/tokenomics-mobile.png")
          no-repeat center;
        background-size: contain;
        width: 100%;
        height: 420px;
      }
    }
    @media only screen and (min-width: 1024px) {
      .tokenomics {
        background: url("../src/assets/images/landing/tokenomics/tokenomics.png")
          no-repeat center;
        background-size: contain;
        width: 100%;
        height: 845px;
      }
    }
    .landing-home-item {
      background: rgb(255, 255, 255, 0.5);
    }

    .bg-blackblue {
      background: rgb(13, 11, 44);
    }
    @media only screen and (min-width: 320px) {
      .invisible-mobile{
        display: none;
      }
    }
    @media only screen and (min-width: 640px) {
      .invisible-mobile{
        display: block;
      }
    }
    .dev-mapcard{
      background: url("./assets/images/landing/map/bg.png") no-repeat;
      background-size: 100% 100%;
    }
    @media only screen and (max-width: 1024px) {
      .dev-mapcard{
        background: url("./assets/images/landing/map/bg.png") no-repeat;
        background-size:  100% 100%;
      }
    }

    @media only screen and (max-width: 640px) {
      .dev-mapcard{
        background: url("./assets/images/landing/map/bg.png") no-repeat;
        background-size:  100% 100%;
      }
    }
    .development-responsive-flow{
      flex-direction:row-reverse
    }

    .left-border-2{
      border-left: 2px solid white;
    }
    @media only screen and (max-width: 640px) {
      .right-response-left-border{
        border-left: 2px solid white;
      }
      .rotate-reverse{
        transform: rotate(180deg);
      }
    }
    @media only screen and (min-width: 640px) {
      .development-responsive-flow{
        flex-direction: row;
      }
      .right-response-left-border{
        border-right: 2px solid white;
      }
    }

    @media only screen and (max-width: 900px) {
      .dev-mapcard{
        background: url("./assets/images/landing/map/bg.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .road-mapcard {
      background: url("./assets/images/landing/roadmap/bg.png") no-repeat center;
      background-size: contain;
      /* width: 460px; */
      height: 700px;
    }

    .roadmap-arrow{
      display: flex;
    }
    /* .roadmap-arrow-down{
      display: flex;
    } */
    @media only screen and (max-width: 640px) {
      .road-mapcard {
        background: url("./assets/images/landing/roadmap/bg.png") no-repeat center;
        background-size: contain;
        height: 400px;
      }
      .roadmap-arrow{
        display: none;
      }
    }
    @media only screen and (max-width: 1024) {
      .road-mapcard {
        background: url("./assets/images/landing/roadmap/bg.png") no-repeat center;
        background-size: contain;
        height: 500px;
      }
    }
    .roadmap-layout {
      display: flex;
      flex-direction: row;
    }
    .roadmap-response-flow{
      flex-direction: row;
    }
    .roadmap-bar{
      display: none;
    }
    @media only screen and (max-width: 640px) {
      .roadmap-layout {
        display: flex;
        flex-direction: column;
      }
      .roadmap-response-flow{
        flex-direction: column-reverse;
      }
      .roadmap-bar{
        display: flex;
      }
    }

    .presale-button {
      background: linear-gradient(
        180deg,
        #060918 0%,
        #1d2848 100%,
        rgba(6, 29, 35, 0) 100%
      );
    }

    .presale-tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }

    .presale-tooltip .tooltiptext {
      visibility: hidden;
      width: 600px;
      background-color: #1ab2ff;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      border-color: black;
      padding: 5px 5px;
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }
    @media only screen and (max-width: 640px) {
      .presale-tooltip .tooltiptext {
        visibility: hidden;
        width: 250px;
        background-color: #1ab2ff;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        border-color: black;
        padding: 5px 5px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
      }
    }
    @media only screen and (max-width: 640px) {
      .right-hidden {
        top: 20px!important;
        display: none!important;
      }

      .row-media {
        display: inline!important;
      }
      .float-left-media {
        float: left!important;
      }
    }
    .presale-tooltip:hover .tooltiptext {
      visibility: visible;
    }
/* Landing Page */

/******************************/
/* Presale Page */

/* Title */
.presale {
  background: url("./assets/images/landing/bg.png") center;
  background-size: 100% auto;
}
.presale-title{
  /* font-family:'Komika Axis'; */
  font-weight: 700;
  font-style: italic;
}
.presale-wallet{
  background: url("./assets/images/presale/title/wallet-stone.png") center no-repeat;
  background-size: contain;
  cursor: pointer;
}
/* Timer */
.presale-comment{
  background: url("./assets/images/presale/timer/presale-stone.png") center no-repeat;
  background-size: contain;
  flex:6;
}
@media only screen and (max-width: 640px) {
  .presale-comment{
    background: url("./assets/images/presale/timer/presale-stone-mobile.png") center  no-repeat;
    background-size: 85% 100%;
    flex:6;
  }
}
.presale-count{
  background: url("./assets/images/presale/timer/count-stone.png") center no-repeat;
  background-size: contain;
  flex: 4;
}
.presale-paper{
  background: url("./assets/images/presale/timer/paper.png") center no-repeat;
  background-size: 100% 100%;
  margin:auto;
}
@media only screen and (max-width: 640px) {
  .presale-paper{
    background: url("./assets/images/presale/timer/paper-mobile.png") center no-repeat;
    background-size: 100% 100%;
    margin:auto;
  }
}
.presale-progress {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  width: 100%;
  max-width: 50%;
  background-color: white;
  border-radius: 30px;
  height: 30px;
}

.presale-progress .presale-progress-bar {
  height: 100%;
  width: 70%;
  background-color: red;
  border-radius: 30px;
}

.presale-buy{
  background:url("./assets/images/presale/timer/buy.png") center no-repeat;
  background-size: contain;
  cursor: pointer;
}
/************* FAQ ***/
.faq-question{
  background: url("./assets/images/presale/faq/faq-stone.png") center no-repeat;
  background-size: 60% 100%;
}
@media only screen and (max-width: 640px) {
  .faq-question{
    background: url("./assets/images/presale/faq/faq-stone.png") center no-repeat;
    background-size: 80% 100%;
  }
}
/* Presale Page */
footer {
  background-color: rgba(13, 90, 139, 0.8);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
